.no-cssmasks {
  .game_2 {
    .section.section_5{
      -webkit-mask: none;
      .pic_1{background-image: url(../images/wolf/5.jpg) ;width: 100%;}
    }
  }

  .game_3 {
    .section.section_3{
      -webkit-mask: none;
      .pic{background-image: url(../images/thief/3.jpg) ;width: 100%;}
    }
  }
}

.game{
  @include full;
  background-color: #000;
  display: none;
  .next{
    position: absolute;
    z-index: 90;
    right: 10px;
    top: 40%;
    background-color: rgba(255,255,255,.5);
    border-radius: 40px;
    height: 24px;
    width: 24px;
    padding: 16px;
    i{
      display: block;
      background: url('../images/icons.png') no-repeat -76px -4px;
      background-size: 629px 34px;
      width: 18px;
      height: 28px;
      margin-left: 5px;
    }
  }
  .prev{
    position: absolute;
    z-index: 90;
    left: 10px;
    top: 40%;
    background-color: rgba(255,255,255,.5);
    border-radius: 40px;
    height: 24px;
    width: 24px;
    padding: 16px;
    transform:rotate(180deg);
    i{
     display: block;
     background: url('../images/icons.png') no-repeat -76px -4px;
     background-size: 629px 34px;
     width: 18px;
     height: 28px;
     margin-left: 5px;}
   }
   .back{
    position: absolute;
    z-index: 90;
    left: 10px;
    top: 10px;
    i{font-size: 24px;color: #fff;text-shadow: 1px 1px 1px rgba(0, 0, 0, .5);}
  }
  .music{
    position: absolute;
    z-index: 90;
    right: 10px;
    top: 10px;
    i{font-size: 14px;color: #fff;text-shadow: 1px 1px 1px rgba(0, 0, 0, .5);}
  }
  .section{
    @include full;
    overflow: hidden;
    opacity: 0;
    display: none;
    background: #000;
    .pic{
      background: center center no-repeat;
      background-size: contain;
    }
    .line{
      position: absolute;
      width: 90%;
      padding: 0 5%;
      bottom: 0;
      background-color: rgba(0,0,0,1);
      color: #fff;
      p{
        font-size: 15px;
        font-size: 5vh;
        margin-top: 7px;
        margin-top: 2vh;
        line-height: 1.5;
        margin-right: 70px;
        padding: 0 20px;
        margin-bottom: 8px;
        margin-bottom: 2vh;
      }
      &.top{top: 0;height:15%;display: none;}
      .btn{
        position: absolute;
        right: 5%;
        top: 50%;
        margin-top: -11px;
        border: 1px solid #fff;
        padding: 5px 10px;
        text-align: center;
        border-radius: 4px;
        font-size: 14px;
        font-size: 4vh;
        float: right;
        i{color: #fff;}
      }
    }
    &.share{
      background: rgba(0,0,0,0.3);
      // box-shadow: inset 0px 0px 100px rgba(0,0,0,1);
      .icon_block{
        border-right: 1px solid #bfbfbf;
        padding: 7% 5%;
        float: left;
        width: 25%;
        padding-left: 10%;
        .icon{margin: 0 auto;display: block;width: 48%;}
        h2{text-align: center;font-weight: normal;font-size: 17px;}
        p{
          font-size: 11px;
          text-align: center;
        }
        .logo{
          width: 40%;
          display: block;
          margin: 10px auto;
        }
        p{font-size: 12px;}
        .btn{
          background-color: #3baf29;
          width: 50%;
          margin: 0 auto;
          color: #fff;
          text-align: center;
          padding: 5px;
          margin-top: 10px;
          border-radius: 5px;
          font-size: 18px;
          font-size: 4.5vh;
          box-shadow: 0 3px 0 #1C9426;
        }
      }
      .info_block{
        width: 40%;
        padding-left: 5%;
        float: left;
        img{
          width: 100%;
          margin-top: 20px;
        }
        p{
          font-size: 10px;
          font-size: 3.5vh;
          line-height: 1.8;
        }
      }
      .share_block{
        z-index: 9999;
        width: 10%;
        float: right;
        vertical-align: middle;
        top: 50%;
        position: relative;
        transform: translateY(-50%);

        .weixin, .quan, .weibo {
          display: block;
          background: url('../images/share.png') no-repeat 0 0;
          background-size: 80%;
          width: 50px;
          height: 50px;
          margin: 20px 0;
        }
        .quan{
          background-position: 0 -67px;
        }
        .weibo {
          background-position: 0 -130px;
        }
      }
    }
  }
}

.game_1{
  .section{
    &.share{background-image: url(../images/deemo/bg.jpg);background-position: center center;background-repeat: no-repeat;background-size: cover;}
    .pic{height: 85%;}
    &.section_1{
      .pic_1{background-image: url(../images/deemo/1_1.jpg); width: 49%;float: left;}
      .pic_2{background-image: url(../images/deemo/1_2.jpg); width: 49%;float: right;}
    }
    &.section_2{
      .pic_1{background-image: url(../images/deemo/2_1.jpg); width: 59%;float: left;}
      .pic_2{background-image: url(../images/deemo/2_2.jpg); width: 39%;float: right;}
    }
    &.section_3{
      .pic_1{background-image: url(../images/deemo/3.jpg); width: 100%;height: 80%;}
      .pic_2{background-image: url(../images/deemo/3_1.png);position: absolute; top: 50%; right: 50%; height: 79px; width: 70px; margin-right: -70px; margin-top: -140px;}
      .pic_3{background-image: url(../images/deemo/3_2.png);position: absolute; top: 50%; right: 50%; height: 115px; width: 100px; margin-right: -60px; margin-top: -100px;}
    }
    &.section_4{
      .pic{background-image: url(../images/deemo/4.jpg); width: 100%;height: 90%}
    }
  }
}
.game_2{
  .section{
    &.share{background-image: url(../images/wolf/bg.jpg) ;background-position: center center;background-repeat: no-repeat;background-size: cover;}
    .pic{height: 85%}
    &.section_1{
      .pic_1{
        background-image: url(../images/wolf/1.jpg) ;width: 100%;float: left;
        height: 70%;}
      }
      &.section_2{
        .pic_1{background-image: url(../images/wolf/2_1.jpg) ;width: 58%;float: left;}
        .pic_2{background-image: url(../images/wolf/2_2.jpg) ;width: 40%;float: right;}
      }
      &.section_3{
        .pic_1{background-image: url(../images/wolf/3.jpg) ;width: 100%;}
      }
      &.section_4{
        .pic_1{background-image: url(../images/wolf/4_1.jpg) ;width: 50%;float: left;}
        .pic_2{background-image: url(../images/wolf/4_2.jpg) ;width: 50%;float: left;}
      }
      &.section_5{
        -webkit-mask: url(../images/mask.png) no-repeat center center;
        -webkit-mask-position: 60% 30%;
        -webkit-mask-size:1%;
        .pic_1{background-image: url(../images/wolf/5.jpg) ;width: 100%;}
      }
    }
  }
  .game_3{
    .section{
      &.share{background-image: url(../images/thief/bg.jpg) ;background-position: center center;background-repeat: no-repeat;background-size: cover;}
      .pic{height: 85%;}
      &.section_1{
        .pic_1{
          background-image: url(../images/thief/1.jpg) ;
          width: 100%;
          float: left;

          height: 130%;
          margin-top: -120px;
        }
      }
      &.section_2{
        background-color: #38323d;
        .pic_1{background-image: url(../images/thief/2_1.jpg); width: 50%;float: left;}
        .pic_2{background-image: url(../images/thief/2_2.jpg); width: 50%;float: right;}
      }
      &.section_3{
        -webkit-mask: url(../images/mask.png) no-repeat center center;
        -webkit-mask-position: 35% 40%;
        -webkit-mask-size:1%;
        .pic{background-image: url(../images/thief/3.jpg) ;width: 100%;}
      }
      &.section_4{
        .pic{background-image: url(../images/thief/4.jpg) ;width: 100%;}
      }
      &.section_5{
        .pic{background-image: url(../images/thief/5.jpg) ;width: 100%;}
      }
    }
  }
